/* Reset and basic styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: Quicksand, sans-serif;
    overflow-x: hidden;
    margin-top: 25vh;
    background-color: rgb(202, 13, 13, 0.2);
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20vh;
    color: white;
    background-color: rgb(149, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Content Section */
#contentSection {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Input and Button */
#channelInput {
    width: 45%;
    height: 5vh;
    border-radius: 2.5vh;
    border: 1px solid;
    padding-left: 2.5vh;
}
#channelInput:hover {
    box-shadow: 0 0 10px grey;
}

#trackChannel {
    width: 25%;
    height: 5vh;
    margin-top: 5vh;
    background-color: rgb(160, 0, 0);
    color: white;
    border: none;
    border-radius: 2vh;
    font-weight: 500;
}
#trackChannel:hover {
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(202, 13, 13);
}

/* Result container */
#result {
    min-height: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;

}

/* Footer */
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 0, 0);
    color: white;
}

/* Result */

.result {
    height: 80vw;
    width: 100vw;
}

/* Top Side JS */


.topSide {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vw;
}

.leftTopSide {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightTopSide {
    width: 70vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
}

.logoChannel {
    height: 25vw;
    border-radius: 50%;
}


/* Bottom Side JS */

.middleSection {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.stats {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 5vw;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
}

.stats:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    cursor: pointer;
} 

.bottomSection {
    width: 100%;
    height: auto;
    padding: 2.5vw;
}

.divSecVidList {
    height: 40px;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw;
    color: white;
    background-color: rgb(149, 0, 0);
    border-radius: 2vw;
    margin-bottom: 2vw;
    font-weight: 800;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}
.divSecVidList a {
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.divSecVidList:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}