* {
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-top: 100px;
    padding: 0;    
    font-family: Quicksand, sans-serif;
    overflow-x: hidden;
    min-height: 60vh;
    background-color: #393939;
}


/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px; /* fixed height */
    color: white;
    background-color: #151515;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    z-index: 10;
}

#name, #qAndA {
    padding: 5%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#trackIt {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#channelInput {
    width: 400px;
    background-color: #393939;
    color: #000000;
    border: none;
    padding-left: 10px;
    border-radius: 15px;
    height: 25px;
}


#searchChannel {
    background-color: #393939;
    color: #000000;
    border: none;
    height: 25px;
    border-radius: 15px;
    margin-left: 10px;
}

#searchChannel:hover {
    background-color: #393939d8;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    #channelInput {
        width:250px;
    }
}
